
<%= render 'shared/errors', obj: @chef %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @chef do |f| %>
      <%= f.label :ChefName %>
      <%= f.text_field :chefname %>

      <%= f.label :Email %>
      <%= f.email_field :email %>

      <%= f.label :Password %>
      <%= f.password_field :password %>

      <%= f.submit(@chef.new_record? ? 'REGISTER' : 'EDIT PROFILE', class: "btn btn-success") %>
    <% end %>
  </div>
</div>