<%= render 'shared/page_title', title: "Recipes For : " + @ingredient.name + " food " %>

<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Recipes", recipes_path %> 
  </li>
  <li>
    <%= link_to "Chefs", chefs_path %>
  </li>
</ul>
<p></p>

<% if @ingredient.recipes.any? %> 
  <%= will_paginate @recipes%>
  <table>
    <% @ingredient.recipes.each do |recipe| %>
    <tr>
      <td style="width:15%;"> 
        <div style="padding-left:5px; padding-right:5px;">
          <section class="chef_info center">
            <%= link_to gravatar_for(recipe.chef, size: 130), chef_path(recipe.chef) %>
            <h5>Chef name: <%= recipe.chef.chefname%></h5>
          </section>
        </div>
      </td>
      <td style="width:65%;">
        <div class="well">     
          <h4>
            <i><b>Name:</b></i>
            <%= link_to recipe.name, recipe_path(recipe) %>
          </h4>
          <p><i><b>Summary: </b></i><%= recipe.summary%></p>
          <p>Styles:<%= render recipe.styles %></p>
          <p>Ingredients:<%= render recipe.ingredients %></p>
          <p><i><b>Description: </b></i><%= recipe.description%></p>
          <p>
            <span class="quite">
              <small>
                Created: <%= time_ago_in_words(recipe.created_at)%> ago,
              </small>
            </span>
            <span class="quite">
              <small>
                Updated: <%= time_ago_in_words(recipe.updated_at)%>
              </small>
            </span>
          </p>
          <div class="pull-right">
            <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= recipe.thumbs_up_total %> 
            <% end %> &nbsp&nbsp&nbsp&nbsp
            <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp <%= recipe.thumbs_down_total %> 
            <% end %> 
          </div>
        </div>
      </td>

      <td style="width:20%;">
        <section style="padding-left:5px; padding-right:5px;" class="center">
          <%= image_tag(recipe.picture.url, size: "210x180", class: "gravatar") if recipe.picture? %> 
        </section>
      </td>
    </tr>
    <% end %>
  </table>
<% else %>
  <div class="center no_recipe">
    <b><i>No Recipe For Ingredient (<%= @ingredient.name %>) ..............</i></b>
  </div>
<% end %>





<!-- Act as Comment (if false)-->
<% if false %> 

<% @ingredient.recipes.each do |recipe| %>
  <div class="row">
    <div class="col-md-2">
      <section class="chef_info center">
        <%= link_to gravatar_for(recipe.chef, size: 130), chef_path(recipe.chef) %>
        <h5>Chef name: <%= recipe.chef.chefname%></h5>
      </section>
    </div>
    <div class="col-lg-6 well">
      <h4>
        <i><b>Name:</b></i>
        <%= link_to recipe.name, recipe_path(recipe) %>
      </h4>
      <p><i><b>Summary: </b></i><%= recipe.summary%></p>
      <p>Styles:<%= render recipe.styles %></p>
      <p>Ingredients:<%= render recipe.ingredients %></p>
      <p><i><b>Description: </b></i><%= recipe.description%></p>
      <p>
        <span class="quite">
          <small>
            Created: <%= time_ago_in_words(recipe.created_at)%> ago,
          </small>
        </span>
        <span class="quite">
          <small>
            Updated: <%= time_ago_in_words(recipe.updated_at)%>
          </small>
        </span>
      </p>
      <div class="pull-right">
        <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= recipe.thumbs_up_total %> 
        <% end %> &nbsp&nbsp&nbsp&nbsp
        <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp <%= recipe.thumbs_down_total %> 
        <% end %> 
      </div>
    </div>
    <div class="col-md-3">
      <%= image_tag(recipe.picture.url, size: "250x150", class: "gravatar") if recipe.picture? %> 
      
    </div>
  </div>
  <hr/>
<% end %>
<% end %> <!-- Act as Comment (end for if false)-->

<%= will_paginate @recipes%>